<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header class="navbar">
    <ul class="navbar-style">
        <li><a href="/irrigation/ui"><i class="bi bi-droplet"></i> Öntözőrendszer</a></li>
        <li><a href="/blinds/ui"><i class="bi bi-window"></i> Redőny</a></li>
    </ul>
</header>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block scripts %}{% endblock %}
</body>
</html>
