pytest~=7.4.0
pytest-assume~=2.4.3
coloredlogs~=15.0.1
schedule~=1.2.0
PyYAML~=6.0
pandas~=2.0.2
requests~=2.31.0
cryptography~=41.0.1
fastapi~=0.98.0
uvicorn~=0.22.0
uvloop~=0.17.0
pydantic~=1.10.7
sqlmodel~=0.0.8
firebase-admin~=6.2.0